@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@font-face {
    font-family: 'Dimnah';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/ae_Dimnah.eot),
    url(fonts/ae_Dimnah.eot?#iefix) format('embedded-opentype'),
    url(fonts/ae_Dimnah.woff) format('woff'),
    url(fonts/ae_Dimnah.woff2) format('woff2'),
    url(fonts/ae_Dimnah.ttf) format('truetype');
}
body * {
    direction: rtl;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
#header {
    height: 11.3em;
}
.middle {
    padding-top: 4em;
}
.right, .left {
    height: 11.3em;
    padding: 4em 0em;
    background: url("images/ogra.png") repeat right top;
}
#header h1, #header h2 {
    background-color:#FFF;
    margin: 0em auto;
}
#header h1 {
    background-color:#000;
    color: gold;
    font-family: 'Droid Arabic Kufi', serif;
    width: 5.55em;
    padding: 0.5em;
}
#header h2 {
    width: 10.65em;
    padding: 0.5em;
    margin-top: 2em;
}
#content {
    margin-top: 6em;
}
.orange {
    background-color: orangered;
}
.white {
    background-color: white;
}
.plate {
    border: darkgray 1px solid;
}
.dimnah {
    font-family: Dimnah, serif;
}
.larger-size {
    font-size: 1.5em;
}
.fare {
    font-size: 1.5em;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input-lg {
    padding:0 0.5em;
    line-height: 1.5;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 6em;
}
#footer {
    background: url("images/ogra.png") repeat right top;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 5.5em;
    padding-top: 20px;
}
#footer p {
    background-color: #fff;
    font-family: Dimnah, serif;
    line-height: 2em;
}
@media(max-width: 600px) {
    #footer {
        height: 9em;
    }
}